.input-btn-group
  display: flex
  input
    margin-right: 0 !important
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  a
    margin-top: 0 !important
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-left: 0 !important
