.flex
  display flex
  .flex-lg
    flex 3
  .flex-md
    flex 2
  .flex-sm
    flex 1
.flex.flex-between
  justify-content space-between
.flex.flex-around
  justify-content space-around
.flex.flex-center
  justify-content center
.flex.flex-wrap
  flex-wrap wrap
.flex.flex-row
  flex-direction row
.flex.flex-column
  flex-direction column
.flex.flex-row-reverse
  flex-direction row-reverse